Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored for easy retrieval and manipulation. Databases are used to store, manage, and manipulate large amounts of information efficiently. There are two main types of databases: SQL (relational) databases and NoSQL databases.

SQL Databases:
SQL (Structured Query Language) databases are based on the relational model.
Data is organized into tables with predefined schemas.
Suitable for structured data with well-defined relationships.
Examples: MySQL, PostgreSQL, SQLite, Microsoft SQL Server, Oracle.

NoSQL Databases:
NoSQL (Not Only SQL) databases are more flexible and non-relational.
Data is stored in various formats like documents, key-value pairs, graphs, or column-family stores.
Suitable for unstructured or semi-structured data.
Examples: MongoDB, Cassandra, Redis, Neo4j.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL is a subset of SQL used to define and manage the structure of a database. It includes operations like creating, modifying, and deleting database objects.

CREATE: Used to create new database objects (tables, indexes, views, etc.).
DROP: Used to delete existing database objects.
ALTER: Used to modify the structure of existing objects.
TRUNCATE: Used to delete all records from a table without deleting the table itself.

Example:
-- Create a new table
CREATE TABLE Students (
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Age INT
);

-- Delete a table
DROP TABLE Students;

-- Add a new column to an existing table
ALTER TABLE Employees
ADD Salary DECIMAL(10, 2);

-- Delete all records from a table
TRUNCATE TABLE Orders;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML is used to manipulate data within a database. It includes operations to insert, update, and delete records.

INSERT: Used to add new records to a table.
UPDATE: Used to modify existing records in a table.
DELETE: Used to remove records from a table.

example
-- Insert a new record
INSERT INTO Students (ID, Name, Age)
VALUES (1, 'Suresh', 25);

-- Update a record
UPDATE Employees
SET Salary = 60000
WHERE ID = 1001;

-- Delete a record
DELETE FROM Customers
WHERE CustomerID = '1001';

Q4. What is DQL? Explain SELECT with an example.

DQL is used to query and retrieve data from a database.

SELECT: Used to retrieve data from one or more tables.
Example
-- Retrieve all columns and records from a table
SELECT * FROM Products;

-- Retrieve specific columns with conditions
SELECT ProductName, Price
FROM Products
WHERE Category = 'Stationary';

Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is a column or a combination of columns that uniquely identifies each row in a table. It ensures the integrity of the data and enforces the uniqueness constraint.

Foreign Key: A foreign key is a column or a combination of columns that establishes a link between data in two tables. It creates a relationship between tables based on the values of these columns.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

cursor(): The cursor is used to interact with the database. It provides methods to execute SQL queries and fetch results.

execute(): The execute() method is used to execute SQL queries.


import mysql.connector
# Establish connection
connection = mysql.connector.connect(
    host="localhost",
    user="username",
    password="--***---",
    database="Student_db"
)

# Create a cursor
cursor = connection.cursor()

# Execute SQL queries
cursor.execute("SELECT * FROM Students")
result = cursor.fetchall()

# Close cursor and connection
cursor.close()
connection.close()

Q7. Give the order of execution of SQL clauses in an SQL query.

The typical order of execution of clauses in an SQL query is as follows:

SELECT
FROM
JOIN
WHERE
GROUP BY
HAVING
ORDER BY
LIMIT (if applicable)