Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [20]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [22]:
list_data = [13, 26, 37, 38, 41, 44, 48, 53, 65, 78]
series_from_list = pd.Series(list_data)
print(series_from_list)

0    13
1    26
2    37
3    38
4    41
5    44
6    48
7    53
8    65
9    78
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
Name     Age    Genderb
Alice    25    Female
Bob      30    male
Claire   27    Female     
Then, print the DataFrame.

In [24]:
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'male', 'Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame in pandas is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns). It can store data of different types and is often used to represent structured data like SQL tables or Excel spreadsheets. A DataFrame can be thought of as a collection of Pandas Series, where each Series represents a column of the DataFrame.

Example of the difference between Series and DataFrame:

In [25]:
# Creating a Series
s = pd.Series(range(1,11))

# Creating a DataFrame from a dictionary
dict_data = {'Column_A': [1, 2, 3, 4],
        'Column_B': ['A', 'B', 'C', 'D']}
df = pd.DataFrame(dict_data)

print("Series data:")
print(s)
print("\nDataFrame of pandas:")
print(df)

Series data:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

DataFrame of pandas:
   Column_A Column_B
0         1        A
1         2        B
2         3        C
3         4        D

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

head(), tail(), info(), describe(), sort_values(), groupby(), pivot_table(), drop(), fillna(), merge(), and more.


# Grouping data by 'Gender' and calculating the average age for each gender
avg_age_by_gender = df.groupby('Gender')['Age'].mean()
print(avg_age_by_gender)

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among Series, DataFrame, and Panel (deprecated), only Series and DataFrame are currently part of the core Pandas library. Both Series and DataFrame are mutable in nature. You can modify their content and structure after creation.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [28]:

names = pd.Series(['Naman', 'Mayank', 'Suresh','Rohit'])
ages = pd.Series([25, 30, 29,31])
weight = pd.Series([60,78,68,80])


data = {'Name': names, 'Age': ages, 'Weight': weight}
df = pd.DataFrame(data)
print(df)

     Name  Age  Weight
0   Naman   25      60
1  Mayank   30      78
2  Suresh   29      68
3   Rohit   31      80