1. Write a program to accept percentage from the user and display the grade according to the following criteria:
Marks  Grade
>90  A
>80 and <=90  B
>60 and 80  C
below 60  D

In [23]:
percentage = float(input("Enter the percentage obtained : "))

if percentage > 90:
    grade = 'A'
elif percentage > 80:
    grade = 'B'
elif percentage > 60:
    grade = 'C'
else:
    grade = 'D'

print(f"Your Grade is : {grade}")

Enter the percentage obtained :  93

Your Grade is : A

2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:

Tax Cost Price(in Rs)
15% > 100000
10% >50000 and <= 100000
5% <= 50000

In [24]:
cost_price = float(input("Enter the cost price of the bike: "))

if cost_price > 100000:
    tax = cost_price * 0.15
elif cost_price > 50000:
    tax = cost_price * 0.10
else:
    tax = cost_price * 0.05

print(f"Road tax to be paid: Rs {tax:.2f}")

Enter the cost price of the bike:  87000

Road tax to be paid: Rs 8700.00

3. Accept any city from the user and display monuments of that city.

City Monument

Delhi Red  Fort
Agra  Taj Mahal
Jaipur  Jal Mahal

In [13]:
city = input("Enter a city: ")

monuments = {
    "Delhi": "Red Fort",
    "Agra": "Taj Mahal",
    "Jaipur": "Jal Mahal"
}

if city in monuments:
    print(f"The monument in {city} is {monuments[city]}.")
else:
    print("Monument information not available for this city.")

Enter a city:  Jaipur

The monument in Jaipur is Jal Mahal.

4. Check how many times a given number can be divided by 3 before it is less than or equal to 10

In [16]:
no = int(input("Enter a number: "))
count = 0

while no > 10:
    no /= 3
    count += 1

print(f"The number can be divided by 3, {count} times before it is <= 10.")

Enter a number:  350

The number can be divided by 3, 4 times before it is <= 10.

5. Why and When to Use while Loop in Python give a detailed description with example.

A while loop in Python is used to repeatedly execute a block of code as long as a given condition is True. It's useful when we want to perform a task multiple times until a certain condition is satisfied.

In [18]:
n = 1
while n <= 5:
    print(n)
    n += 1

1
2
3
4
5

6. Use nested while loop to print 3 different pattern.

In [19]:
n = 5
i = 1
while i <= n:
    j = 1
    while j <= i:
        print("*", end=" ")
        j += 1
    print()
    i += 1

*
* *
* * *
* * * *
* * * * *

In [20]:
n = 5
i = 1
while i <= n:
    j = n
    while j >= i:
        print("*", end=" ")
        j -= 1
    print()
    i += 1

* * * * *
* * * *
* * *
* *
*

In [21]:
n = 5
i = 1
while i <= n:
    spaces = n - i
    while spaces > 0:
        print(" ", end=" ")
        spaces -= 1
    j = 1
    while j <= i:
        print("*", end=" ")
        j += 1
    print()
    i += 1

        *
      * *
    * * *
  * * * *
* * * * *

7. Reverse a while loop to display numbers from 10 to 1.

In [22]:
num = 10
while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1

8. Reverse a while loop to display numbers from 10 to 1

same prvs answer.